@import "tailwindcss";

body {
  font-family: "poppins", sans-serif;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #983909, rgba(234, 8, 181, 0.4));
  }
}
